<div>
    <h2>
        Welcome to Angular Practice
    </h2>
    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed orci eu eros faucibus pharetra. Aenean neque elit, aliquet nec diam eu, porttitor scelerisque ante. Mauris sed luctus dui. Fusce ac sagittis risus, sit amet dictum arcu. Phasellus volutpat elementum dolor non ornare. Aenean ut tellus sit amet nisi euismod suscipit vitae ac ex. Integer auctor lectus nec malesuada molestie. Vestibulum suscipit tortor ut rutrum pellentesque. In hac habitasse platea dictumst.
    </p>
</div>
