
<div class="app-footer">
             <div>
        
            </div>
            <div class="navigations">
                <h3>Navigating</h3>
                 <h4><a [routerLink]="['/']">Home</a></h4>
                 <h4><a [routerLink]="['shop/']">Shop</a></h4>
                  <h4><a href="">About us</a></h4>
            </div>
            <div class="social-media">
                <h3>Social Media</h3>
                <h4><a (click)="redirect()">Facebook</a></h4>
                <h4><a (click)="redirect()">Instagram</a></h4>
                <h4><a (click)="redirect()">Twitter</a></h4>
            </div>
</div>     


